body{
    margin: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    width: 900px;
}

.row-container{
    width: 100%;
    display: flex;
    flex: 0 0 auto;
}

.cell{
    background-color: white;
    border: 1px solid lightgrey;
    flex: 0 0 auto;

}

.prompt{
    font-size: 20px;
    margin: 10px 0;
}
